.task-card {
  background: #fff;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

.task-title{
    color:#333;
}

.task-description{
    color:#666;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-btn:hover {
  background: darkred;
}

button {
  cursor: pointer;
  margin-top: 5px;
}